In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [3]:
df = pd.read_csv("intro_bees.csv")
df.head(3)

,Program,Year,Period,State,ANSI,Affected by,Pct of Colonies Impacted,state_code
0,SURVEY,2019,JAN THRU MAR,Alabama,1,Disease,1.8,AL
1,SURVEY,2019,JAN THRU MAR,Alabama,1,Other,3.1,AL
2,SURVEY,2019,JAN THRU MAR,Alabama,1,Pesticides,0.3,AL

In [4]:
df = df.groupby(['State','ANSI','Affected by','Year','state_code'])[['Pct of Colonies Impacted']].mean()
df.reset_index(inplace=True)
print(df[:5]) #print all columns and 5 rows

     State  ANSI Affected by  Year state_code  Pct of Colonies Impacted
0  Alabama     1     Disease  2015         AL                      0.05
1  Alabama     1     Disease  2016         AL                      1.20
2  Alabama     1     Disease  2017         AL                      2.25
3  Alabama     1     Disease  2018         AL                      1.30
4  Alabama     1     Disease  2019         AL                      1.80

In [20]:
app = dash.Dash(__name__)

# App layout
app.layout = html.Div([
    
    html.H1("Web Application Dashboards with Dash", style={'text-align': 'center'}),
    
    dcc.Dropdown(id="select_year",
                 options=[
                     {"label": "2015", "value": 2015},
                     {"label": "2016", "value": 2016},
                     {"label": "2017", "value": 2017},
                     {"label": "2018", "value": 2018}],
                 multi=False,
                 value=2015,
                 style={'width': "40%"}
                 ),
    
    html.Div(id='output_container', children=[]),
    html.Br(),
    
    dcc.Graph(id='my_bee_bar_graph', figure={})
])

# Connect the plotly graphs with Dash Components
@app.callback(
    [Output(component_id='output_container', component_property='children'),
    Output(component_id='my_bee_bar_graph', component_property='figure')],
    [Input(component_id='select_year', component_property='value')]
)

def update_graph(option_selected):
    print(option_selected)
    print(type(option_selected))
    
    container = "The year chosen by user was: {}".format(option_selected)
    
    dff = df.copy()
    dff = dff[dff["Year"] == option_selected]
    dff = dff[dff["Affected by"] == "Varroa_mites"]
    
    fig = px.bar(
        dff,
        x="State",
        y="Pct of Colonies Impacted",
        labels={'Pct of Colonies Impacted': '% of Bee Colonies'},
        hover_data=['State', 'Pct of Colonies Impacted'],
        template="plotly_dark"
        )
    
    return container, fig

In [21]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [14/Feb/2021 21:20:39] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2021 21:20:40] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2021 21:20:40] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2021 21:20:40] "GET /_favicon.ico?v=1.19.0 HTTP/1.1" 200 -

2015
<class 'int'>

127.0.0.1 - - [14/Feb/2021 21:20:40] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2021 21:20:44] "POST /_dash-update-component HTTP/1.1" 200 -

2016
<class 'int'>

127.0.0.1 - - [14/Feb/2021 21:20:46] "POST /_dash-update-component HTTP/1.1" 200 -

2017
<class 'int'>

127.0.0.1 - - [14/Feb/2021 21:20:52] "POST /_dash-update-component HTTP/1.1" 200 -

2018
<class 'int'>

In [5]:
df.head(3)

     State  ANSI Affected by  Year state_code  Pct of Colonies Impacted
0  Alabama     1     Disease  2015         AL                      0.05
1  Alabama     1     Disease  2016         AL                      1.20
2  Alabama     1     Disease  2017         AL                      2.25

In [11]:
df1 = df.copy()
df1 = df1[df1["Year"] == 2015]
df1 = df1[df1["State"] == "Arizona"]
df1 = df1[df1["Affected by"] == "Varroa_mites"]
df1.head(15)

      State  ANSI   Affected by  Year state_code  Pct of Colonies Impacted
55  Arizona     4  Varroa_mites  2015         AZ                    34.725